.Footer {
    background-color: $black;
    color: $white;
    padding-bottom: 100px;

    .divider {
        margin-bottom: 100px;
    }

    .footer-wrapper {
        display: flex;
        gap: 40px;

        @media (max-width: 768px) {
            flex-direction: column-reverse;
        }

        //each child flex 1
        >* {
            flex: 1;

            @media (max-width: 768px) {
                flex: none;
            }
        }

        .image {
            height: 440px;

            @media (max-width: 768px) {
                height: 400px;
            }
        }

    }
}