// colors
$primary-color: #5F35F7;
$primary-color-dark: #4425B2;
$black: #000000;
$off-black: #222222;
$white: #FFFFFF;
$bg-gradient: linear-gradient(0deg, #FFF 0%, #FFF 100%), linear-gradient(204deg, rgba(0, 0, 0, 0.09) -8.47%, rgba(255, 255, 255, 0.00) 84.8%), #fff;